.ipynb_checkpoints/
.vscode/
.DS_Store
youtube_data.json
bitchute_data.json
collect_data.*
bitchute_videos/
youtube_videos/
python-client-generated
wandb/
*__pycache__*
wandb_key
*.zip
cardiffnlp
test*
transcripts
LAL-Parser