.ipynb_checkpoints/
.vscode/
.DS_Store
youtube_data.json
bitchute_data.json
non_hate_youtube_data.json
collect_data.*
bitchute_videos/
youtube_videos/
python-client-generated
wandb/
*__pycache__*
wandb_key
*.zip
cardiffnlp
transcripts
LAL-Parser
models
# npy_files/
test.ipynb
keyphrases_other_comments.json
run_commands_manish_sir.txt
data/videos
data/CLIP_embeddings